<div class="row">

  <div class="spacer-block">
  </div>

<!-- Alert message to display if not all data is entered -->
  <div class="row text-center">
    <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="$ctrl.showFieldsAlert">
      <button type="button" class="close" aria-label="Close" ng-click="$ctrl.showFieldsAlert = false;">
        <span aria-hidden="true">×</span>
      </button>
      <strong>Whoa!  </strong>
      Looks Like you didn't enter all required data.  Be sure to enter a question and answer field.
    </div>
  </div>

  <!-- Success Message to show when card is added to deck -->
    <div class="row text-center">
      <div class="alert alert-success alert-dismissible fade in" role="alert" ng-show="$ctrl.showSentMsg">
        <button type="button" class="close" aria-label="Close" ng-click="$ctrl.showFieldsAlert = false;">
          <span aria-hidden="true">×</span>
        </button>
        <strong>Success!  </strong>
        Card added to the current Deck!
      </div>
    </div>

  <div class="col-xs-5 flashcard">
    <h4>Question</h4>
    <hr>
    <textarea placeholder="Enter a question" ng-model="$ctrl.card.question" id="createQuestionField"></textarea>
</div>

  <div class="col-xs-5 flashcard">
    <h4>Answer</h4>
    <hr>
    <textarea placeholder="Enter the answer" ng-model="$ctrl.card.answer"></textarea>
  </div>
</div>
<div class="row text-center">
  <button class="btn btn-primary hover-green" ng-show="!$ctrl.hideSubmit" ng-click="$ctrl.clearFields($ctrl.populateCard($ctrl.card));">    Submit Card
  </button>
</div>

